:root {
    --color-primary: #49c691;
    --color-danger:#6a91f4;
    --color-success: #b4d77b;
    --color-warning: #6a91f4;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #49c691;
    --color-dark-variant:#677483;
    --color-background:#f6f6f9;
    
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    
    --box-shadow: 0 2rem 3rem var(--color-light);
}

aside{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 200ms ease;
    height: 100vh;
}

.logo h2{
    color: #49c691;
}

aside .logo{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

aside .logo img{
    width: 3rem;
    height: 3rem;
}

aside .close{
    display: none;
}

/* ============ SIDEBAR ===============*/
aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 83vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: #6C85E5;
    margin-left: 0.8rem;
    gap: 0.9rem;
    align-items: center;
    position: relative;
    height: 3.9rem;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.7rem;
    transition: all 300ms ease;
}

aside .sidebar a.active{
    background: #49c691;
    color: #ffffff;
    margin-left: 0;
    border-radius: 0px 20px 20px 0px;
    width: 120.5%;
}

aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: #49c691;
}

aside .sidebar a.active span{ 
    color: #ffffff;
    margin-left: calc(1rem - 4px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

@media screen and (max-width: 1280px) {

    aside .logo h2{
        display: none; 
    }
    aside .sidebar h3{
        display: none;
    }
    aside .sidebar a {
        width: 4.6rem;
    }
    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }
}